.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
html, body {
    width: 100%;
    margin: 0;
}
.display-flex {
    display: flex;
}
.navbar {
    width: 100%;
    height: 92px;
    background: rgba(26, 11, 46, 1);
    justify-content: space-around;
    align-items: center;
}
.title {
    width: 219px;
    height: 32px;
    font-weight: bold;
    color: #FFFFFF;
}
.color-gradient {
   background: linear-gradient(to bottom,rgba(247, 233, 63, 1));
   background: linear-gradient(to top, 
rgba(251, 9, 180, 1),

rgba(145, 0, 248, 1)
);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.lists {
    list-style: none;
    gap: 2rem;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;     
}
.btn {
    width: 135px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;
    border-radius: 10000px;
    border: none;
    background: var(--Linear, linear-gradient(47deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.hamburger {
    display: none;
}
@media screen and (max-width:576px) {
.hamburger {
    display: block;
    width: 18px;
    height: 13px;
    font-size: 20px;
    color: #FFFFFF;
}
.lists, .btn {
    display: none;
}   

}