.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}

.display-flex {
    display: flex;
}
.navbar {
    max-width: 1600px;
    height: 92px;
    background: rgba(26, 11, 46, 1);
    justify-content: space-around;
    align-items: center;
   
}
.title {
    width: 219px;
    height: 32px;
    font-weight: bold;
    color: #FFFFFF;
}
.color-gradient {
   background: linear-gradient(to bottom,rgba(247, 233, 63, 1));
   background: linear-gradient(to top, 
rgba(251, 9, 180, 1),

rgba(145, 0, 248, 1)
);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.lists {
    list-style: none;
    gap: 2rem;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 36px 314px;     
}
.btn {
    width: 135px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;
    border-radius: 10000px;
    border: none;
    background: var(--Linear, linear-gradient(47deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.hamburger {
    display: none;
}
.Banner {
 max-width: 1600px;
 height: 760px;
 background: url(./assets/hero-bg.png);
}
.Banner-content {
    width: 550px;
    height: 559px;
    padding: 100px 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Banner img {
   background: url(./assets/hero-circle.png);
   background-repeat: no-repeat;

}

.Banner h1 {
color: #FFFFFF;
font-size: 60px;
font-weight: 800;
}
.Banner p {
    font-size: 1rem;
    color: #FFFFFF;
}
.buttons {

    display: flex;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    gap: 8px;
    text-align: left;
}
.button-left {
    width: 201px;
    height: 44px;
}
.Subscribe {
   width: 147px;
   height: 44px;
   padding: 12px 20px 12px 20px;
   border: 1px solid #00FF88;
   color: #00FF88;
   border-radius: 10000px;
   background-color: transparent
   ;
}
.About {
    width: 1600px;
    height: 646px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background-color: rgba(26, 11, 46, 1);
}
.podcast { 
width: 1200px;
height: 222px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
color: #FFFFFF;
}
.podcast h2 {
 font-size: 48px;
 font-weight: 700;
 list-style: 58px;
}
.podcast p {
height: 148px;
font-size: 16px;
font-weight: 400;
line-height: 20px;
}
.list-of-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #FFFFFF;
    list-style-type: none;
    gap: 80px;
    padding-top: 160px;
}
.list-of-details h1 {
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    margin-bottom: 16px;
}
.list-of-details p {
    font-size: 16px;
    font-weight: 400;
}
@media screen and (max-width:576px) {
.hamburger {
    display: block;
    width: 18px;
    height: 13px;
    font-size: 20px;
    color: #FFFFFF;
}
.lists, .btn {
    display: none;
}   
.About {
    width: 100%;
}
.About p {
    width: 100%;
    max-width: 324px;
    height: auto;
    text-align: center;
    line-height: 20px;
    
}
.list-of-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
}
}