.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}

.display-flex {
    display: flex;
}
.navbar {
    width: 100%;
    max-width: 1600px;
    height: 92px;
    background: rgba(26, 11, 46, 1);
    justify-content: center;
    align-items: center;
   
}
.title {
    width: 219px;
    height: 32px;
    font-weight: bold;
    color: #FFFFFF;
}
.color-gradient {
   background: linear-gradient(to bottom,rgba(247, 233, 63, 1));
   background: linear-gradient(to top, 
rgba(251, 9, 180, 1),

rgba(145, 0, 248, 1)
);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.lists {
    list-style: none;
    gap: 2rem;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 36px 314px;     
}
.btn {
    width: 135px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #FFFFFF;
    border-radius: 10000px;
    border: none;
    background: var(--Linear, linear-gradient(47deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.hamburger {
    display: none;
}
.Banner {
 width: 100%;
 max-width: 1600px;
 height: 760px;
 background: url(./assets/hero-bg.png);
 background-repeat: no-repeat;
 display: flex;
 justify-content: center;
 align-items: center;
 background-size: cover;
 background-position: center;
}
.Banner-content {
    max-width: 550px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.microphonelogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
   background: url(./assets/hero-circle.png);
   background-repeat: no-repeat;
   background-size: contain;
   padding: 40px;
   position: relative;
}
.badge {
    position: absolute;
    top: 20px;
    right: 35px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 12px;
    font-weight: 700;
    padding: 4px 12px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.5);
}
.Banner h1 {
color: #FFFFFF;
font-size: 60px;
font-weight: 800;
margin-top: 40px;
margin-bottom: 8px;
}
.Banner p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.buttons {

    display: flex;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    gap: 8px;
    padding: 0;
}
.button-left, .Subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.buttons img {
    width: 20px;
    width: 20px;
    margin-right: 8px;
    background: none;
    padding: 0;
}

.button-left {
    width: 201px;
    height: 44px;
    
}
.Subscribe {
   width: 147px;
   height: 44px;
   padding: 12px 20px 12px 20px;
   border: 1px solid #00FF88;
   color: #00FF88;
   border-radius: 10000px;
   background-color: transparent
   ;
}
.About {
    width: 100%;
    max-width: 1600px;
    height: 646px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background-color: rgba(26, 11, 46, 1);
}
.podcast { 
width: 1200px;
height: 222px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
color: #FFFFFF;
}
.paragraph {
    height: 148px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-left: 200px;
    margin-right: 200px;
}
.podcast h2 {
 font-size: 48px;
 font-weight: 700;
 list-style: 58px;
}
.podcast p {
height: 148px;
font-size: 16px;
font-weight: 400;
line-height: 20px;
}
.list-of-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #FFFFFF;
    list-style-type: none;
    gap: 80px;
    padding-top: 160px;
}
.list-of-details h1 {
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    margin-bottom: 16px;
}
.list-of-details p {
    font-size: 16px;
    font-weight: 400;
}
#techwave-pros {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #FFFFFF;
    background-color: rgba(35, 14, 61, 1);
    gap: 40px;
    padding: 120px 200px;
}
#techwave-pros h3 {
    font-size: 48px;
    font-weight: 700; 
    line-height: 58px; 
}
.info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);
    gap: 30px;
    justify-content: center;
}
.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    gap: 16px;
    padding: 40px;  
}
.info-container h6 {
    font-size: 24px;
    font-weight: 700;
}
.info-container p {
    font-size: 16px;
    font-weight: 400;
}
#card-section {
    color: #FFFFFF;
    background-color:  rgba(26, 11, 46, 1);
    padding: 120px 200px;
}
#card-section h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}
.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.vcard {
  background-color: rgba(37, 13, 68, 1);
  width: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
}
.video-image {
    position: relative;
    width: 100%;
}
.video-image img {
    width: 100%;
    display: block;
}
.playbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    color: #FFFFFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.cardbody {
    gap: 12;
    padding: 24px;
}
.cardbody h5 {
 font-size: 20px;
 font-weight: 700;
 margin-bottom: 12px;
}
.cardbody p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}
.cardbody span {
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
}
.host-section {
    
}
.host-section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 40px;
}
.host-info {
    width: 100%;
    max-width: 1200px;
    height: 280px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 48px 40px;  
}
.hostimage {
    width: 200px;
    height: 200px;
}
.host-info h3 {
   font-size: 32px;
   font-weight: 700;
   margin-bottom: 16px;
}
.host-info p {
    font-size: 16px;
    font-weight: 400px;
    color:  rgba(255, 255, 255, 1);
    line-height: 24px;
    text-align: left;
    margin-bottom: 16px;
}
.pngs {
    width: 184px;
    height: 40px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.pngs img {
    width: 20px;
    height: 20px;
    border: 1px solid purple;
    border-radius: 50%;
}
#first {
    grid-row: span 2;
}
#second {
    grid-column: span 2;
}
.footer-container {
    color: #FFFFFF;
   background:url(./assets/footer-bg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 32px;
   padding: 120px;
}
.footer-head {
    max-width: 100%;
    height: 60px;
    font-size: 58px;
}
.footer-items {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(250, 250, 250, 1);
    font-weight: 400;
}
.footer-items li {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media screen and (max-width:576px) {
.hamburger {
    display: block;
    width: 18px;
    height: 13px;
    font-size: 20px;
    color: #FFFFFF;
}
.lists, .btn {
    display: none;
}   
.About {
    height: auto;
    padding: 80px 20px;
}
.About h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}
.About p {
    width: 400px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
   
    
}
.podcast {
    width: 100%;
    height: auto;
}
.list-of-details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding-top: 80px;
}
#techwave-pros h3 {
    font-size: 32px;
}
.info-container {
    grid-template-columns: 1fr;

}
#first, #second {
    grid-row: auto;
    grid-column: auto;
}
.Banner {
    height: auto;
    padding: 60px 20px;
}
.Banner-content {
    max-width: 100%;
}
.Banner h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
}
.Banner p {
    text-align: center;
    max-width: 400px;
    font-size: 16px;
    font-weight: 400;
   
  
}
.buttons {
    flex-direction: column;
    width: 100%;
    gap: 8px;
}
.host-section h2 {
    text-align: center;
    font-size: 32px;
}
.host-info {
    width: 100%;
    height: auto;
    padding: 30px 20px;
    flex-direction: column;
    text-align: center;
}
.host-info p {
    text-align: center;
}
.pngs {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 16px;
    gap: 12px;
}
.footer-container {
    padding: 40px 20px;
    gap: 24px;
}
.footer-head {
    font-size: 50px;
}
.footer-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}

}